body
{
   
    background : url("../img/fondo.jpg") no-repeat;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}
img
{
    cursor: pointer;
    margin-top: -20px;
}
#tabla
{
    margin: 0 auto;
    width: 41%;
    border-radius: 20px;
}
header 
{
  
    border-radius: 15px;
    box-shadow: 1px 0px 8px 5px #fff;
    font-size: 40px;
    color: #f4f4f4; 
    margin-top: 45px;
    margin-left: 385px;
    margin-bottom: 40px;
    padding:20px;
    text-align: center;
    text-overflow: ellipsis;
    width: 40%;
 }
input[type="button"] {  
 border: 0;
 width: 40px;
 height: 40px;
 border-radius: 3px;
 font-size: 1.0em;
 cursor: pointer;
    
 background:url("../img/nueva.png") no-repeat;
background-size: cover;
}
::-webkit-input-placeholder {
 color: #C3C3C4;
 font-size:20px;
 font-family: 'Indie Flower', cursive;
}
#textbox{
    padding: 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    font-size: 1.1em;
    text-align: center;
    font-weight: bolder;
    width: 80%;
    height: 40px;
    margin-left: 15px;
    color: #000;
}
div {
 background:#FFFFFF;
 padding:10px;
 text-align:left;
 vertical-align:middle;
 font-size:20px;
 font-weight: bolder;
}

.tarea{
    border-top: 1px solid #C1C3D1;
 border-bottom-: 1px solid #C1C3D1;
 border-right: 1px solid #C1C3D1;
}
.tarea:hover{
 color:#FFFFFF;
 border-top: 1px solid #22262e;
 border-bottom: 1px solid #22262e;
}
#guarda{
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
#desactiva{
    color:#C3C3C4;
}
#activa{
    color:#000;
}